# Created by https://www.toptal.com/developers/gitignore/api/windows
# Edit at https://www.toptal.com/developers/gitignore?templates=windows

### Windows ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp


# Windows shortcuts
*.lnk

# End of https://www.toptal.com/developers/gitignore/api/windows

password.txt
token.txt
Python/msedgedriver.exe
Python/.ipynb_checkpoints/
Python/01.DataScience_Day1.pdf
Python/02.LinearRegression_Categorical.ipynb
Python/02.LinearRegression_Practice.ipynb
Python/02.LinearRegression.ipynb
Python/02.LinearRegression.pdf
Python/03.LogisticRegression_CHD.ipynb
Python/03.LogisticRegression_relapse_lungcancer.ipynb
Python/03.LogisticRegression.ipynb
Python/03.LogisticRegression.pdf
Python/04.Logit_Tensorflow.ipynb
Python/04.LRM_Tensorflow.ipynb
Python/04.NeuralNetwork_DeepLearning.pptx
Python/framingham.csv
Python/image.png
Python/logistic practice.ipynb
Python/papago_result.csv
Python/Salary_Data.csv
Python/Salary_DataScientist.csv
Python/Train.csv
Python/Valid.csv
Python/Driver_Notes/credits.html
Python/Driver_Notes/EULA
Python/Driver_Notes/LICENSE
